.AppointmentBtnGet {font-family : inherit;}
.AppointmentBtnGetAll {font-family : inherit;}
.AppointmentBtnCreate {font-family : inherit;}
.AppointmentBtnUpdate {font-family : inherit;}
.AppointmentBtnDelete {font-family : inherit;}
.AppointmentBtnDelete {font-family : inherit;}
.AppointmentFrmGet {font-family : inherit;}
.AppointmentFrmGetAll {font-family : inherit;}
.AppointmentFrmCreate {font-family : inherit;}
.AppointmentFrmUpdate {font-family : inherit;}
.AppointmentFrmDelete {font-family : inherit;}
.AppointmentMdlGet {font-family : inherit;}
.AppointmentMdlGetAll {font-family : inherit;}
.AppointmentMdlCreate {font-family : inherit;}
.AppointmentMdlUpdate {font-family : inherit;}
.AppointmentMdlDelete {font-family : inherit;}
.AppointmentBtnMdlGet {font-family : inherit;}
.AppointmentBtnMdlGetAll {font-family : inherit;}
.AppointmentBtnMdlCreate {font-family : inherit;}
.AppointmentBtnMdlUpdate {font-family : inherit;}
.AppointmentBtnMdlDelete {font-family : inherit;}
.CommentBtnGet {font-family : inherit;}
.CommentBtnGetAll {font-family : inherit;}
.CommentBtnCreate {font-family : inherit;}
.CommentBtnUpdate {font-family : inherit;}
.CommentBtnDelete {font-family : inherit;}
.CommentBtnDelete {font-family : inherit;}
.CommentFrmGet {font-family : inherit;}
.CommentFrmGetAll {font-family : inherit;}
.CommentFrmCreate {font-family : inherit;}
.CommentFrmUpdate {font-family : inherit;}
.CommentFrmDelete {font-family : inherit;}
.CommentMdlGet {font-family : inherit;}
.CommentMdlGetAll {font-family : inherit;}
.CommentMdlCreate {font-family : inherit;}
.CommentMdlUpdate {font-family : inherit;}
.CommentMdlDelete {font-family : inherit;}
.CommentBtnMdlGet {font-family : inherit;}
.CommentBtnMdlGetAll {font-family : inherit;}
.CommentBtnMdlCreate {font-family : inherit;}
.CommentBtnMdlUpdate {font-family : inherit;}
.CommentBtnMdlDelete {font-family : inherit;}
.CustomerBtnGet {font-family : inherit;}
.CustomerBtnGetAll {font-family : inherit;}
.CustomerBtnCreate {font-family : inherit;}
.CustomerBtnUpdate {font-family : inherit;}
.CustomerBtnDelete {font-family : inherit;}
.CustomerBtnDelete {font-family : inherit;}
.CustomerFrmGet {font-family : inherit;}
.CustomerFrmGetAll {font-family : inherit;}
.CustomerFrmCreate {font-family : inherit;}
.CustomerFrmUpdate {font-family : inherit;}
.CustomerFrmDelete {font-family : inherit;}
.CustomerMdlGet {font-family : inherit;}
.CustomerMdlGetAll {font-family : inherit;}
.CustomerMdlCreate {font-family : inherit;}
.CustomerMdlUpdate {font-family : inherit;}
.CustomerMdlDelete {font-family : inherit;}
.CustomerBtnMdlGet {font-family : inherit;}
.CustomerBtnMdlGetAll {font-family : inherit;}
.CustomerBtnMdlCreate {font-family : inherit;}
.CustomerBtnMdlUpdate {font-family : inherit;}
.CustomerBtnMdlDelete {font-family : inherit;}
.IncomeExpenseBtnGet {font-family : inherit;}
.IncomeExpenseBtnGetAll {font-family : inherit;}
.IncomeExpenseBtnCreate {font-family : inherit;}
.IncomeExpenseBtnUpdate {font-family : inherit;}
.IncomeExpenseBtnDelete {font-family : inherit;}
.IncomeExpenseBtnDelete {font-family : inherit;}
.IncomeExpenseFrmGet {font-family : inherit;}
.IncomeExpenseFrmGetAll {font-family : inherit;}
.IncomeExpenseFrmCreate {font-family : inherit;}
.IncomeExpenseFrmUpdate {font-family : inherit;}
.IncomeExpenseFrmDelete {font-family : inherit;}
.IncomeExpenseMdlGet {font-family : inherit;}
.IncomeExpenseMdlGetAll {font-family : inherit;}
.IncomeExpenseMdlCreate {font-family : inherit;}
.IncomeExpenseMdlUpdate {font-family : inherit;}
.IncomeExpenseMdlDelete {font-family : inherit;}
.IncomeExpenseBtnMdlGet {font-family : inherit;}
.IncomeExpenseBtnMdlGetAll {font-family : inherit;}
.IncomeExpenseBtnMdlCreate {font-family : inherit;}
.IncomeExpenseBtnMdlUpdate {font-family : inherit;}
.IncomeExpenseBtnMdlDelete {font-family : inherit;}
.IncomeExpenseCategoryBtnGet {font-family : inherit;}
.IncomeExpenseCategoryBtnGetAll {font-family : inherit;}
.IncomeExpenseCategoryBtnCreate {font-family : inherit;}
.IncomeExpenseCategoryBtnUpdate {font-family : inherit;}
.IncomeExpenseCategoryBtnDelete {font-family : inherit;}
.IncomeExpenseCategoryBtnDelete {font-family : inherit;}
.IncomeExpenseCategoryFrmGet {font-family : inherit;}
.IncomeExpenseCategoryFrmGetAll {font-family : inherit;}
.IncomeExpenseCategoryFrmCreate {font-family : inherit;}
.IncomeExpenseCategoryFrmUpdate {font-family : inherit;}
.IncomeExpenseCategoryFrmDelete {font-family : inherit;}
.IncomeExpenseCategoryMdlGet {font-family : inherit;}
.IncomeExpenseCategoryMdlGetAll {font-family : inherit;}
.IncomeExpenseCategoryMdlCreate {font-family : inherit;}
.IncomeExpenseCategoryMdlUpdate {font-family : inherit;}
.IncomeExpenseCategoryMdlDelete {font-family : inherit;}
.IncomeExpenseCategoryBtnMdlGet {font-family : inherit;}
.IncomeExpenseCategoryBtnMdlGetAll {font-family : inherit;}
.IncomeExpenseCategoryBtnMdlCreate {font-family : inherit;}
.IncomeExpenseCategoryBtnMdlUpdate {font-family : inherit;}
.IncomeExpenseCategoryBtnMdlDelete {font-family : inherit;}
.InvoiceBtnGet {font-family : inherit;}
.InvoiceBtnGetAll {font-family : inherit;}
.InvoiceBtnCreate {font-family : inherit;}
.InvoiceBtnUpdate {font-family : inherit;}
.InvoiceBtnDelete {font-family : inherit;}
.InvoiceBtnDelete {font-family : inherit;}
.InvoiceFrmGet {font-family : inherit;}
.InvoiceFrmGetAll {font-family : inherit;}
.InvoiceFrmCreate {font-family : inherit;}
.InvoiceFrmUpdate {font-family : inherit;}
.InvoiceFrmDelete {font-family : inherit;}
.InvoiceMdlGet {font-family : inherit;}
.InvoiceMdlGetAll {font-family : inherit;}
.InvoiceMdlCreate {font-family : inherit;}
.InvoiceMdlUpdate {font-family : inherit;}
.InvoiceMdlDelete {font-family : inherit;}
.InvoiceBtnMdlGet {font-family : inherit;}
.InvoiceBtnMdlGetAll {font-family : inherit;}
.InvoiceBtnMdlCreate {font-family : inherit;}
.InvoiceBtnMdlUpdate {font-family : inherit;}
.InvoiceBtnMdlDelete {font-family : inherit;}
.ListingBtnGet {font-family : inherit;}
.ListingBtnGetAll {font-family : inherit;}
.ListingBtnCreate {font-family : inherit;}
.ListingBtnUpdate {font-family : inherit;}
.ListingBtnDelete {font-family : inherit;}
.ListingBtnDelete {font-family : inherit;}
.ListingFrmGet {font-family : inherit;}
.ListingFrmGetAll {font-family : inherit;}
.ListingFrmCreate {font-family : inherit;}
.ListingFrmUpdate {font-family : inherit;}
.ListingFrmDelete {font-family : inherit;}
.ListingMdlGet {font-family : inherit;}
.ListingMdlGetAll {font-family : inherit;}
.ListingMdlCreate {font-family : inherit;}
.ListingMdlUpdate {font-family : inherit;}
.ListingMdlDelete {font-family : inherit;}
.ListingBtnMdlGet {font-family : inherit;}
.ListingBtnMdlGetAll {font-family : inherit;}
.ListingBtnMdlCreate {font-family : inherit;}
.ListingBtnMdlUpdate {font-family : inherit;}
.ListingBtnMdlDelete {font-family : inherit;}
.ListingCategoryBtnGet {font-family : inherit;}
.ListingCategoryBtnGetAll {font-family : inherit;}
.ListingCategoryBtnCreate {font-family : inherit;}
.ListingCategoryBtnUpdate {font-family : inherit;}
.ListingCategoryBtnDelete {font-family : inherit;}
.ListingCategoryBtnDelete {font-family : inherit;}
.ListingCategoryFrmGet {font-family : inherit;}
.ListingCategoryFrmGetAll {font-family : inherit;}
.ListingCategoryFrmCreate {font-family : inherit;}
.ListingCategoryFrmUpdate {font-family : inherit;}
.ListingCategoryFrmDelete {font-family : inherit;}
.ListingCategoryMdlGet {font-family : inherit;}
.ListingCategoryMdlGetAll {font-family : inherit;}
.ListingCategoryMdlCreate {font-family : inherit;}
.ListingCategoryMdlUpdate {font-family : inherit;}
.ListingCategoryMdlDelete {font-family : inherit;}
.ListingCategoryBtnMdlGet {font-family : inherit;}
.ListingCategoryBtnMdlGetAll {font-family : inherit;}
.ListingCategoryBtnMdlCreate {font-family : inherit;}
.ListingCategoryBtnMdlUpdate {font-family : inherit;}
.ListingCategoryBtnMdlDelete {font-family : inherit;}
.LocationBtnGet {font-family : inherit;}
.LocationBtnGetAll {font-family : inherit;}
.LocationBtnCreate {font-family : inherit;}
.LocationBtnUpdate {font-family : inherit;}
.LocationBtnDelete {font-family : inherit;}
.LocationBtnDelete {font-family : inherit;}
.LocationFrmGet {font-family : inherit;}
.LocationFrmGetAll {font-family : inherit;}
.LocationFrmCreate {font-family : inherit;}
.LocationFrmUpdate {font-family : inherit;}
.LocationFrmDelete {font-family : inherit;}
.LocationMdlGet {font-family : inherit;}
.LocationMdlGetAll {font-family : inherit;}
.LocationMdlCreate {font-family : inherit;}
.LocationMdlUpdate {font-family : inherit;}
.LocationMdlDelete {font-family : inherit;}
.LocationBtnMdlGet {font-family : inherit;}
.LocationBtnMdlGetAll {font-family : inherit;}
.LocationBtnMdlCreate {font-family : inherit;}
.LocationBtnMdlUpdate {font-family : inherit;}
.LocationBtnMdlDelete {font-family : inherit;}
.MigrationBtnGet {font-family : inherit;}
.MigrationBtnGetAll {font-family : inherit;}
.MigrationBtnCreate {font-family : inherit;}
.MigrationBtnUpdate {font-family : inherit;}
.MigrationBtnDelete {font-family : inherit;}
.MigrationBtnDelete {font-family : inherit;}
.MigrationFrmGet {font-family : inherit;}
.MigrationFrmGetAll {font-family : inherit;}
.MigrationFrmCreate {font-family : inherit;}
.MigrationFrmUpdate {font-family : inherit;}
.MigrationFrmDelete {font-family : inherit;}
.MigrationMdlGet {font-family : inherit;}
.MigrationMdlGetAll {font-family : inherit;}
.MigrationMdlCreate {font-family : inherit;}
.MigrationMdlUpdate {font-family : inherit;}
.MigrationMdlDelete {font-family : inherit;}
.MigrationBtnMdlGet {font-family : inherit;}
.MigrationBtnMdlGetAll {font-family : inherit;}
.MigrationBtnMdlCreate {font-family : inherit;}
.MigrationBtnMdlUpdate {font-family : inherit;}
.MigrationBtnMdlDelete {font-family : inherit;}
.SettingsBtnGet {font-family : inherit;}
.SettingsBtnGetAll {font-family : inherit;}
.SettingsBtnCreate {font-family : inherit;}
.SettingsBtnUpdate {font-family : inherit;}
.SettingsBtnDelete {font-family : inherit;}
.SettingsBtnDelete {font-family : inherit;}
.SettingsFrmGet {font-family : inherit;}
.SettingsFrmGetAll {font-family : inherit;}
.SettingsFrmCreate {font-family : inherit;}
.SettingsFrmUpdate {font-family : inherit;}
.SettingsFrmDelete {font-family : inherit;}
.SettingsMdlGet {font-family : inherit;}
.SettingsMdlGetAll {font-family : inherit;}
.SettingsMdlCreate {font-family : inherit;}
.SettingsMdlUpdate {font-family : inherit;}
.SettingsMdlDelete {font-family : inherit;}
.SettingsBtnMdlGet {font-family : inherit;}
.SettingsBtnMdlGetAll {font-family : inherit;}
.SettingsBtnMdlCreate {font-family : inherit;}
.SettingsBtnMdlUpdate {font-family : inherit;}
.SettingsBtnMdlDelete {font-family : inherit;}
.UserBtnGet {font-family : inherit;}
.UserBtnGetAll {font-family : inherit;}
.UserBtnCreate {font-family : inherit;}
.UserBtnUpdate {font-family : inherit;}
.UserBtnDelete {font-family : inherit;}
.UserBtnDelete {font-family : inherit;}
.UserFrmGet {font-family : inherit;}
.UserFrmGetAll {font-family : inherit;}
.UserFrmCreate {font-family : inherit;}
.UserFrmUpdate {font-family : inherit;}
.UserFrmDelete {font-family : inherit;}
.UserMdlGet {font-family : inherit;}
.UserMdlGetAll {font-family : inherit;}
.UserMdlCreate {font-family : inherit;}
.UserMdlUpdate {font-family : inherit;}
.UserMdlDelete {font-family : inherit;}
.UserBtnMdlGet {font-family : inherit;}
.UserBtnMdlGetAll {font-family : inherit;}
.UserBtnMdlCreate {font-family : inherit;}
.UserBtnMdlUpdate {font-family : inherit;}
.UserBtnMdlDelete {font-family : inherit;}
.WorkerBtnGet {font-family : inherit;}
.WorkerBtnGetAll {font-family : inherit;}
.WorkerBtnCreate {font-family : inherit;}
.WorkerBtnUpdate {font-family : inherit;}
.WorkerBtnDelete {font-family : inherit;}
.WorkerBtnDelete {font-family : inherit;}
.WorkerFrmGet {font-family : inherit;}
.WorkerFrmGetAll {font-family : inherit;}
.WorkerFrmCreate {font-family : inherit;}
.WorkerFrmUpdate {font-family : inherit;}
.WorkerFrmDelete {font-family : inherit;}
.WorkerMdlGet {font-family : inherit;}
.WorkerMdlGetAll {font-family : inherit;}
.WorkerMdlCreate {font-family : inherit;}
.WorkerMdlUpdate {font-family : inherit;}
.WorkerMdlDelete {font-family : inherit;}
.WorkerBtnMdlGet {font-family : inherit;}
.WorkerBtnMdlGetAll {font-family : inherit;}
.WorkerBtnMdlCreate {font-family : inherit;}
.WorkerBtnMdlUpdate {font-family : inherit;}
.WorkerBtnMdlDelete {font-family : inherit;}
.BtnLogin { font-family : inherit; }
.BtnRegister { font-family : inherit; }
.BtnLostPassword { font-family : inherit; }
.BtnLogout { font-family : inherit; }
.FrmLogin { font-family : inherit; }
.FrmRegister { font-family : inherit; }
.FrmLostPassword { font-family : inherit; }
.FrmLogout { font-family : inherit; }
.MdlLogin { font-family : inherit; }
.MdlRegister { font-family : inherit; }
.MdlLostPassword { font-family : inherit; }
.MdlLogout { font-family : inherit; }
.BtnMdlLogin { font-family : inherit; }
.BtnMdlRegister { font-family : inherit; }
.BtnMdlLostPassword { font-family : inherit; }
.BtnMdlLogout { font-family : inherit; }

